/* 1024 - 4_Layout_Laptop_with_section_gap */
:root {
    --rwd-page-width: 1440px;
    --rwd-page-height: 1024px;
    --rwd-card-card-height-xl: 690px;
    --rwd-card-card-height-md: 464px;
    --rwd-card-card-width-md: 456px;
    --var---section-padding-x-base-: var(--size-40);
    --var---section-padding-x-tight-: var(--size-16);
    --var---section-padding-x-tight-: var(--size-24);
    --var---section-padding-x-none-: var(--size-4);
    --section-padding-y-xs: var(--size-48);
    --section-padding-y-sm: var(--size-64);
    --section-padding-y-md: var(--size-80);
    --var---section-padding-y-lg-: var(--size-96);
    --section-padding-y-xl: var(--size-120);
    --var---section-padding-y-2xl-: var(--size-144);
    --var---section-gap-xs-: var(--size-24);
    --var---section-gap-sm-: var(--size-40);
    --var---section-gap-md-: var(--size-56);
    --var---section-gap-lg-: var(--size-64);
    --var---section-gap-xl-: var(--size-96);
    --var---section-gap-2xl-: var(--size-112);
    --var---container-max-w-page-: 1440px;
    --container-max-w-content: 1280px;
    --container-max-w-narrow: 720px;
    --container-gap-sm: 32px;
    --container-gap-md: 48px;
    --container-gap-lg: 64px;
    --var---container-max-w-page-: 300px;
    --var---container-max-w-page-: 520px;
    --var---container-max-w-page-: 162px;
    --var---container-max-w-page-: 460px;
    --grid-gap-tight: 12px;
    --var---grid-gap-default-: 24px;
    --grid-gap-loose: 32px;
    --app-padding: 8px;
    --app-gap: 4px;
    --app-toolbar-h: 48px;
    --app-sidebar-w: 280px;
}
