/* 1. Primitives - Primitives_With_Semantic */
:root {
    --font-weight-light: 300;
    --radius-2xs: var(--size-2);
    --radius-xs: var(--size-4);
    --radius-sm: var(--size-6);
    --radius-md: var(--size-8);
    --radius-lg: var(--size-10);
    --radius-xl: var(--size-12);
    --radius-2xl: var(--size-16);
    --radius-3xl: var(--size-20);
    --radius-4xl: var(--size-24);
    --radius-5xl: var(--size-32);
    --radius-6xl: var(--size-40);
    --radius-7xl: var(--size-48);
    --radius-8xl: var(--size-56);
    --radius-full: var(--size-999);
    --font-weight-regular: 400;
    --color-base-white: #ffffffff;
    --color-transparent-white-3: #ffffff08;
    --color-transparent-white-5: #ffffff0d;
    --color-transparent-white-10: #ffffff1a;
    --color-transparent-white-20: #ffffff33;
    --color-transparent-white-40: #ffffff66;
    --color-transparent-white-60: #ffffff99;
    --color-transparent-white-70: #ffffffb2;
    --color-transparent-white-80: #ffffffcc;
    --color-transparent-white-85: #ffffffd9;
    --color-transparent-blue-5: #0e122a0d;
    --color-transparent-blue-10: #0e122a1a;
    --color-transparent-blue-20: #0e122a33;
    --color-transparent-blue-30: #0e122a4d;
    --color-transparent-blue-40: #0e122a66;
    --color-transparent-blue-50: #0e122a80;
    --color-transparent-blue-60: #0e122a99;
    --color-transparent-blue-70: #0e122ab2;
    --color-transparent-blue-80: #0e122acc;
    --color-transparent-blue-85: #0e122ad9;
    --color-transparent-blue-95: #0e122af2;
    --color-transparent-green-8: #00d08414;
    --color-transparent-green-15: #00d08426;
    --color-transparent-green-30: #00d0844d;
    --color-transparent-green-50: #00d08480;
    --color-transparent-red-8: #ff4d4f14;
    --color-transparent-red-15: #ff4d4f26;
    --color-transparent-red-30: #ff4d4f4d;
    --color-transparent-red-50: #ff4d4f80;
    --color-transparent-primary-8: #5056ea14;
    --color-transparent-primary-15: #5056ea26;
    --color-transparent-primary-30: #5056ea4d;
    --color-transparent-primary-50: #5056ea80;
    --color-transparent-yellow-8: #ffa94014;
    --color-transparent-yellow-15: #ffa94026;
    --color-transparent-yellow-30: #ffa9404d;
    --color-transparent-yellow-50: #ffa94080;
    --color-blue-25: #f5f7ffff;
    --color-blue-50: #e8ebffff;
    --color-blue-100: #d0d6ffff;
    --color-blue-200: #b8c0ffff;
    --color-blue-300: #9fa9ffff;
    --color-blue-400: #7078edff;
    --color-blue-500: #5056eaff;
    --color-blue-600: #3d43d0ff;
    --color-blue-700: #2d32b0ff;
    --color-blue-800: #1f2390ff;
    --color-blue-900: #0e122aff;
    --color-base-black: #000000ff;
    --color-slate-50: #f0f2faff;
    --color-green-50: #f0fdf4ff;
    --color-green-100: #dcfce7ff;
    --color-green-200: #bbf7d0ff;
    --color-green-300: #86efacff;
    --color-green-400: #00d084ff;
    --color-green-500: #22c55eff;
    --color-green-600: #16a34aff;
    --color-green-700: #15803dff;
    --color-green-800: #166534ff;
    --color-green-900: #14532dff;
    --color-slate-100: #e2e5f0ff;
    --color-slate-200: #c5cbe0ff;
    --color-slate-300: #a4adc9ff;
    --color-slate-400: #808db0ff;
    --color-slate-500: #606e94ff;
    --color-slate-600: #455275ff;
    --color-slate-700: #2e3859ff;
    --color-slate-725: #263063ff;
    --color-slate-750: #212952ff;
    --color-slate-775: #222641ff;
    --color-slate-800: #191f3fff;
    --color-slate-900: #151a35ff;
    --color-slate-925: #11162fff;
    --color-slate-950: #0e122aff;
    --color-slate-960: #0b0f19ff;
    --color-slate-975: #080a18ff;
    --color-slate-980: #05060eff;
    --color-gray-gray-0: #ffffffff;
    --color-gray-gray-50: #f9f9f9ff;
    --color-gray-gray-100: #edededff;
    --color-gray-gray-200: #cdcdcdff;
    --color-gray-gray-300: #afafafff;
    --color-gray-gray-400: #8f8f8fff;
    --color-gray-gray-500: #5d5d5dff;
    --color-gray-gray-600: #414141ff;
    --color-gray-gray-700: #303030ff;
    --color-gray-gray-800: #212121ff;
    --color-gray-gray-900: #181818ff;
    --color-gray-gray-1000: #0d0d0dff;
    --color-neutral-0: #ffffffff;
    --color-neutral-25: #fafafbff;
    --color-neutral-50: #f8f9faff;
    --color-neutral-100: #f0f2f5ff;
    --color-neutral-200: #e1e5ebff;
    --color-neutral-300: #c8cdd5ff;
    --color-neutral-400: #9aa5b6ff;
    --color-neutral-500: #6b7a90ff;
    --color-neutral-600: #4d5c72ff;
    --color-neutral-700: #364152ff;
    --color-neutral-800: #202938ff;
    --color-neutral-900: #101623ff;
    --color-neutral-950: #0b0f19ff;
    --color-neutral-1000: #000000ff;
    --color-red-50: #fef2f2ff;
    --color-red-100: #fee2e2ff;
    --color-red-200: #fecacaff;
    --color-red-300: #fca5a5ff;
    --color-red-400: #f87171ff;
    --color-red-500: #ff4d4fff;
    --color-red-600: #dc2626ff;
    --color-red-700: #b91c1cff;
    --color-red-800: #991b1bff;
    --color-red-900: #7f1d1dff;
    --color-yellow-50: #fffcf9ff;
    --color-yellow-100: #fef3e2ff;
    --color-yellow-200: #fde2beff;
    --color-yellow-300: #fcc782ff;
    --color-yellow-400: #ffa940ff;
    --color-yellow-500: #f08826ff;
    --color-yellow-600: #cc6a18ff;
    --color-yellow-700: #a14d10ff;
    --color-yellow-800: #78360dff;
    --color-yellow-900: #4a2009ff;
    --color-white-white-0: #ffffff00;
    --color-white-white-2: #ffffff05;
    --color-white-white-4: #ffffff0a;
    --color-white-white-5: #ffffff0d;
    --color-white-white-8: #ffffff14;
    --color-white-white-10: #ffffff1a;
    --color-white-white-12: #ffffff1f;
    --color-white-white-15: #ffffff26;
    --color-white-white-20: #ffffff33;
    --color-white-white-30: #ffffff4d;
    --color-white-white-40: #ffffff66;
    --color-white-white-60: #ffffff99;
    --color-alpha-transparency-alpha-02: 2px;
    --color-alpha-transparency-alpha-08: 8px;
    --color-alpha-transparency-alpha-16: 16px;
    --color-alpha-transparency-alpha-30: 30px;
    --color-alpha-transparency-alpha-50: 50px;
    --color-status-success: #10b981ff;
    --color-status-warning: #f59e0bff;
    --color-status-error: #ef4444ff;
    --color-status-info: #3b82f6ff;
    --color-brand-primary: var(--color-blue-500);
    --color-brand-light: #6e74ffff;
    --color-brand-tertiary: #bdd6ffff;
    --color-brand-hover: var(--color-blue-600);
    --color-brand-active: var(--color-blue-400);
    --color-brand-pale: var(--color-brand-tertiary);
    --color-brand-deep: var(--color-blue-900);
    --color-surface-page-dark: var(--color-blue-900);
    --color-surface-page-light: var(--color-gray-gray-0);
    --color-surface-card: var(--color-transparent-white-10);
    --color-surface-elevated-dark: var(--color-neutral-600);
    --color-surface-elevated-light: var(--color-gray-gray-0);
    --color-surface-subtle: var(--color-transparent-white-3);
    --color-surface-overlay-dark: var(--color-transparent-blue-60);
    --color-surface-overlay-light: var(--color-transparent-blue-20);
    --color-text-primary-dark: var(--color-neutral-0);
    --color-text-primary-light: var(--color-blue-900);
    --color-text-secondary-dark: var(--color-transparent-white-60);
    --color-text-secondary-light: var(--color-transparent-blue-60);
    --color-text-tertiary-dark: var(--color-transparent-white-40);
    --color-text-tertiary-light: var(--color-transparent-blue-20);
    --color-text-disabled: var(--color-transparent-white-40);
    --color-text-on-brand: var(--color-gray-gray-0);
    --color-border-default-dark: var(--color-transparent-white-10);
    --color-border-default-light: var(--color-gray-gray-200);
    --color-border-subtle: var(--color-transparent-white-3);
    --color-border-strong-dark: var(--color-transparent-white-20);
    --color-border-strong-light: var(--color-neutral-300);
    --color-border-accent: var(--color-brand-primary);
    --color-border-focus: var(--color-blue-400);
    --color-interactive-hover: var(--color-transparent-white-10);
    --color-interactive-active: var(--color-transparent-white-20);
    --color-interactive-disabled: var(--color-transparent-white-3);
    --size-0: 0px;
    --size-2: 2px;
    --size-4: 4px;
    --size-6: 4px;
    --size-8: 8px;
    --size-10: 10px;
    --size-12: 12px;
    --size-16: 16px;
    --size-20: 20px;
    --size-24: 24px;
    --size-28: 28px;
    --size-32: 32px;
    --size-36: 36px;
    --size-40: 40px;
    --size-44: 44px;
    --size-48: 48px;
    --size-56: 56px;
    --size-64: 64px;
    --size-80: 80px;
    --size-96: 96px;
    --size-112: 112px;
    --size-120: 120px;
    --size-144: 144px;
    --size-176: 176px;
    --size-180: 180px;
    --size-999: 999px;
    --color-brand-linear: #ffffffff;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}