/* 3. Spacing - default */
:root {
    --padding-2xs: var(--spacing-2);
    --padding-xs: var(--spacing-4);
    --padding-sm: var(--spacing-8);
    --padding-md: var(--spacing-12);
    --padding-lg: var(--spacing-16);
    --padding-xl: var(--spacing-24);
    --component-button-paddingX-lg: var(--spacing-24);
    --component-button-paddingX-md: var(--spacing-20);
    --component-button-paddingX-sm: var(--spacing-16);
    --gap-xs: var(--spacing-4);
    --gap-md: var(--spacing-8);
    --gap-lg: var(--spacing-12);
    --component-button-paddingX-xs: var(--spacing-12);
    --radius-radius-minimal: var(--radius-md);
    --radius-radius-rounded: var(--spacing-curent-spacing-sm);
    --radius-radius-full: var(--radius-3xl);
    --component-button-paddingY-lg: var(--spacing-12);
    --component-button-paddingY-md: var(--spacing-8);
    --component-button-paddingY-sm: var(--spacing-4);
    --component-button-height-height-xs: var(--spacing-28);
    --component-button-height-height-sm: var(--spacing-32);
    --component-button-height-height-md: var(--spacing-36);
    --component-button-height-height-lg: var(--spacing-40);
    --component-button-height-height-xl: var(--spacing-44);
    --component-button-height-height-2xl: var(--spacing-48);
    --component-button-height-height-3xl: var(--spacing-56);
    --component-input-paddingX-sm: var(--spacing-12);
    --component-input-paddingX-md: var(--spacing-16);
    --spacing-spacing-none: var(--spacing-0);
    --spacing-spacing-1: var(--spacing-4);
    --spacing-spacing-2: var(--spacing-8);
    --spacing-spacing-3: var(--spacing-12);
    --spacing-spacing-4: var(--spacing-16);
    --spacing-spacing-5: var(--spacing-20);
    --spacing-spacing-6: var(--spacing-24);
    --spacing-spacing-8: var(--spacing-32);
    --spacing-spacing-10: var(--spacing-40);
    --spacing-spacing-12: var(--spacing-48);
    --spacing-spacing-16: var(--spacing-64);
    --spacing-spacing-20: var(--spacing-80);
    --spacing-spacing-24: var(--spacing-96);
    --spacing-spacing-28: var(--spacing-112);
    --spacing-spacing-30: var(--spacing-120);
    --spacing-spacing-36: var(--spacing-144);
    --spacing-spacing-44: var(--spacing-176);
    --component-input-paddingX-lg: var(--spacing-20);
    --component-button-width-width-xs: var(--spacing-24);
    --component-button-width-width-sm: var(--spacing-28);
    --component-button-width-width-md: var(--spacing-36);
    --component-button-width-width-lg: var(--spacing-40);
    --component-button-width-width-xl: var(--spacing-48);
    --component-button-width-width-2xl: var(--spacing-56);
}