/* 3. Spacing - default */
:root {
    --spacing-none: var(--size-0);
    --spacing-2xs: var(--size-2);
    --spacing-xs: var(--size-4);
    --spacing-sm: var(--size-8);
    --spacing-md: var(--size-12);
    --spacing-lg: var(--size-16);
    --spacing-xl: var(--size-24);
    --spacing-2xl: var(--size-32);
    --spacing-3xl: var(--size-40);
    --spacing-4xl: var(--size-48);
    --spacing-5xl: var(--size-56);
    --spacing-6xl: var(--size-64);
    --spacing-7xl: var(--size-80);
    --spacing-8xl: var(--size-96);
    --spacing-9xl: var(--size-112);
    --spacing-10xl: var(--size-120);
    --spacing-11xl: var(--size-144);
    --spacing-12xl: var(--size-176);
    --gap-2xs: var(--size-2);
    --gap-xs: var(--size-4);
    --component-button-padding-x-2xs: var(--size-4);
    --component-button-padding-x-xs: var(--size-8);
    --component-button-padding-x-sm: var(--size-12);
    --component-button-padding-x-md: var(--size-16);
    --component-button-padding-x-lg: var(--size-20);
    --component-button-padding-x-xl: var(--size-24);
    --component-button-padding-x-2xl: var(--size-32);
    --component-button-padding-x-3xl: var(--size-40);
    --component-button-padding-y-2xs: var(--size-2);
    --component-button-padding-y-xs: var(--size-4);
    --component-button-padding-y-sm: var(--size-8);
    --component-button-padding-y-md: var(--size-12);
    --component-button-padding-y-lg: var(--size-16);
    --component-button-padding-y-xl: var(--size-20);
    --component-button-padding-y-2xl: var(--size-24);
    --component-button-height-height-xs: var(--size-28);
    --component-button-height-height-sm: var(--size-32);
    --component-button-height-height-md: var(--size-36);
    --component-button-height-height-lg: var(--size-40);
    --component-button-height-height-xl: var(--size-44);
    --component-button-height-height-2xl: var(--size-48);
    --component-button-height-height-3xl: var(--size-56);
    --component-button-width-width-xs: var(--size-24);
    --component-button-width-width-sm: var(--size-28);
    --component-button-width-width-md: var(--size-36);
    --component-button-width-width-lg: var(--size-40);
    --component-button-width-width-xl: var(--size-48);
    --component-button-width-width-2xl: var(--size-56);
    --component-input-height-sm: var(--size-32);
    --component-input-height-md: var(--size-40);
    --component-input-height-lg: var(--size-20);
    --gap-sm: var(--size-8);
    --gap-md: var(--size-12);
    --gap-lg: var(--size-16);
    --gap-xl: var(--size-24);
    --gap-2xl: var(--size-32);
    --gap-3xl: var(--size-40);
    --gap-4xl: var(--size-48);
    --gap-5xl: var(--size-56);
    --gap-6xl: var(--size-64);
    --gap-7xl: var(--size-80);
    --gap-8xl: var(--size-112);
    --gap-9xl: var(--size-144);
    --component-input-padding-x-xs: var(--size-4);
    --component-input-padding-x-sm: var(--size-8);
    --component-input-padding-x-md: var(--size-12);
    --component-input-padding-x-lg: var(--size-16);
    --component-input-padding-x-xl: var(--size-20);
    --component-input-padding-x-2xl: var(--size-24);
    --component-input-gap-sm: var(--size-4);
    --component-input-gap-md: var(--size-8);
    --component-input-gap-lg: var(--size-12);
}
