@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* 5. Typography - Mobile */
:root {
    --font-brand-SohneBreit: Test Söhne Breit;
    --font-ui-Inter: Inter;
    --brand-hero-fontsize: 32px;
    --brand-hero-lineHeight: 36px;
    --brand-hero-fontWeight: 700px;
    --brand-hero-letterSpacing: 0px;
    --brand-h1-fontSize: 32px;
    --brand-h1-lineHeight: 28px;
    --brand-h1-fontWeight: 700px;
    --brand-h1-letterSpacing: 0px;
    --brand-h2-fontSize: 20px;
    --brand-h2-lineHeight: 24px;
    --brand-h2-fontWeight: 700px;
    --brand-h2-letterSpacing: -0.20000000298023224px;
    --ui-h1-fontSize: 24px;
    --ui-h1-lineHeight: 32px;
    --ui-h1-fontWeight: 500px;
    --ui-h1-letterSpacing: 0px;
    --ui-h2-fontSize: 22px;
    --ui-h2-lineHeight: 28px;
    --ui-h2-fontWeight: 500px;
    --ui-h2-letterSpacing: -0.2199999988079071px;
    --ui-h3-fontSize: 20px;
    --ui-h3-lineHeight: 26px;
    --ui-h3-fontWeight: 500px;
    --ui-h3-letterSpacing: -0.20000000298023224px;
    --ui-h4-fontSize: 18px;
    --ui-h4-lineHeight: 24px;
    --ui-h4-fontWeight: 500px;
    --ui-h4-letterSpacing: 0px;
    --ui-h5-fontSize: 14px;
    --ui-h5-lineHeight: 16px;
    --ui-h5-fontWeight: 500px;
    --ui-h5-letterSpacing: 0px;
    --ui-body-lg-fontSize: 16px;
    --ui-body-lg-lineHeight: 24px;
    --ui-body-lg-fontWeight: var(--font-weight-regular);
    --ui-body-md-fontSize: 16px;
    --ui-body-md-lineHeight: 24px;
    --ui-body-md-fontWeight: var(--font-weight-regular);
    --ui-body-sm-fontSize: 14px;
    --ui-body-sm-lineHeight: 20px;
    --ui-body-sm-fontWeight: var(--font-weight-regular);
    --ui-body-xs-fontSize: 12px;
    --ui-body-xs-lineHeight: 16px;
    --ui-body-xs-fontWeight: var(--font-weight-regular);
    --ui-button-lg-fontSize: 16px;
    --ui-button-lg-lineHeight: 20px;
    --ui-button-lg-fontWeight: 500px;
    --ui-button-md-fontSize: 14px;
    --ui-button-md-lineHeight: 18px;
    --ui-button-md-fontWeight: 500px;
    --ui-button-sm-fontSize: 12px;
    --ui-button-xs-fontSize: 10px;
    --ui-button-xs-lineHeight: 12px;
    --ui-button-xs-fontWeight: 500px;
    --ui-button-sm-lineHeight: 16px;
    --ui-button-sm-fontWeight: 700px;
    --ui-label-lg-fontSize: 14px;
    --ui-label-lg-lineHeight: 20px;
    --ui-label-lg-fontWeight: 700px;
    --ui-label-md-fontSize: 12px;
    --ui-label-md-lineHeight: 16px;
    --ui-label-md-fontWeight: 600px;
    --ui-nav-menu-fontSize: 14px;
    --ui-nav-menu-lineHeight: 20px;
    --ui-nav-menu-fontWeight: 500px;
    --ui-nav-sub-fontSize: 14px;
    --ui-nav-sub-lineHeight: 20px;
    --ui-nav-sub-fontWeight: 500px;
    --ui-nav-footer-fontSize: 12px;
    --ui-nav-footer-lineHeight: 16px;
    --ui-nav-footer-fontWeight: 500px;
    --ui-table-header-fontSize: 12px;
    --ui-table-header-lineHeight: 16px;
    --ui-table-header-fontWeight: 700px;
    --ui-table-cell-fontSize: 12px;
    --ui-table-cell-lineHeight: 16px;
    --ui-table-cell-fontWeight: 500px;
    --ui-table-numeric-fontSize: 14px;
    --ui-table-numeric-lineHeight: 20px;
    --ui-table-numeric-fontWeight: 500px;
    --ui-metric-lg-fontSize: 28px;
    --ui-metric-lg-lineHeight: 36px;
    --ui-metric-lg-fontWeight: 600px;
    --ui-metric-lg-letterSpacing: var(--letterSpacing-ls-none);
    --letterSpacing-ls-none: 0px;
    --letterSpacing-ls-tight: -1px;
    --letterSpacing-ls-wide-sm: 2px;
    --letterSpacing-ls-wide-md: 4px;
    --ui-metric-md-fontSize: 14px;
    --ui-metric-md-lineHeight: 28px;
    --ui-metric-md-fontWeight: 600px;
    --ui-metric-md-letterSpacing: var(--letterSpacing-ls-none);
    --ui-body-xl-fontSize: 20px;
    --ui-body-xl-lineHeight: 28px;
    --ui-body-xl-fontWeight: var(--font-weight-regular);
    --ui-body-xl-letterSpacing: 0px;
    --ui-button-xss-fontSize: 10px;
    --ui-button-xss-lineHeight: 12px;
    --ui-button-xss-fontWeight: 500px;
}

/* 5. Typography - Desktop */
@media screen and (min-width: 768px) {
    :root {
        --font-brand-SohneBreit: Test Söhne Breit;
        --font-ui-Inter: Inter;
        --brand-hero-fontsize: 64px;
        --brand-hero-lineHeight: 68px;
        --brand-hero-fontWeight: 700px;
        --brand-hero-letterSpacing: 0px;
        --brand-h1-fontSize: 52px;
        --brand-h1-lineHeight: 56px;
        --brand-h1-fontWeight: 700px;
        --brand-h1-letterSpacing: 0px;
        --brand-h2-fontSize: 28px;
        --brand-h2-lineHeight: 32px;
        --brand-h2-fontWeight: 700px;
        --brand-h2-letterSpacing: -0.2800000011920929px;
        --ui-h1-fontSize: 32px;
        --ui-h1-lineHeight: 40px;
        --ui-h1-fontWeight: 500px;
        --ui-h1-letterSpacing: 0px;
        --ui-h2-fontSize: 28px;
        --ui-h2-lineHeight: 36px;
        --ui-h2-fontWeight: 500px;
        --ui-h2-letterSpacing: -0.2800000011920929px;
        --ui-h3-fontSize: 24px;
        --ui-h3-lineHeight: 32px;
        --ui-h3-fontWeight: 500px;
        --ui-h3-letterSpacing: -0.23999999463558197px;
        --ui-h4-fontSize: 20px;
        --ui-h4-lineHeight: 28px;
        --ui-h4-fontWeight: 500px;
        --ui-h4-letterSpacing: 0px;
        --ui-h5-fontSize: 16px;
        --ui-h5-lineHeight: 20px;
        --ui-h5-fontWeight: 500px;
        --ui-h5-letterSpacing: 0px;
        --ui-body-lg-fontSize: 18px;
        --ui-body-lg-lineHeight: 26px;
        --ui-body-lg-fontWeight: var(--font-weight-regular);
        --ui-body-md-fontSize: 16px;
        --ui-body-md-lineHeight: 24px;
        --ui-body-md-fontWeight: var(--font-weight-regular);
        --ui-body-sm-fontSize: 14px;
        --ui-body-sm-lineHeight: 20px;
        --ui-body-sm-fontWeight: var(--font-weight-regular);
        --ui-body-xs-fontSize: 12px;
        --ui-body-xs-lineHeight: 16px;
        --ui-body-xs-fontWeight: var(--font-weight-regular);
        --ui-button-lg-fontSize: 20px;
        --ui-button-lg-lineHeight: 24px;
        --ui-button-lg-fontWeight: 500px;
        --ui-button-md-fontSize: 16px;
        --ui-button-md-lineHeight: 20px;
        --ui-button-md-fontWeight: 500px;
        --ui-button-sm-fontSize: 14px;
        --ui-button-xs-fontSize: 12px;
        --ui-button-xs-lineHeight: 14px;
        --ui-button-xs-fontWeight: 500px;
        --ui-button-sm-lineHeight: 18px;
        --ui-button-sm-fontWeight: 500px;
        --ui-label-lg-fontSize: 14px;
        --ui-label-lg-lineHeight: 20px;
        --ui-label-lg-fontWeight: 700px;
        --ui-label-md-fontSize: 12px;
        --ui-label-md-lineHeight: 16px;
        --ui-label-md-fontWeight: 600px;
        --ui-nav-menu-fontSize: 16px;
        --ui-nav-menu-lineHeight: 24px;
        --ui-nav-menu-fontWeight: 500px;
        --ui-nav-sub-fontSize: 14px;
        --ui-nav-sub-lineHeight: 20px;
        --ui-nav-sub-fontWeight: 500px;
        --ui-nav-footer-fontSize: 12px;
        --ui-nav-footer-lineHeight: 16px;
        --ui-nav-footer-fontWeight: 500px;
        --ui-table-header-fontSize: 14px;
        --ui-table-header-lineHeight: 20px;
        --ui-table-header-fontWeight: 700px;
        --ui-table-cell-fontSize: 14px;
        --ui-table-cell-lineHeight: 20px;
        --ui-table-cell-fontWeight: 500px;
        --ui-table-numeric-fontSize: 14px;
        --ui-table-numeric-lineHeight: 24px;
        --ui-table-numeric-fontWeight: 500px;
        --ui-metric-lg-fontSize: 36px;
        --ui-metric-lg-lineHeight: 44px;
        --ui-metric-lg-fontWeight: 600px;
        --ui-metric-lg-letterSpacing: var(--letterSpacing-ls-none);
        --letterSpacing-ls-none: 0px;
        --letterSpacing-ls-tight: -1px;
        --letterSpacing-ls-wide-sm: 2px;
        --letterSpacing-ls-wide-md: 4px;
        --ui-metric-md-fontSize: 24px;
        --ui-metric-md-lineHeight: 32px;
        --ui-metric-md-fontWeight: 600px;
        --ui-metric-md-letterSpacing: var(--letterSpacing-ls-none);
        --ui-body-xl-fontSize: 28px;
        --ui-body-xl-lineHeight: 36px;
        --ui-body-xl-fontWeight: var(--font-weight-regular);
        --ui-body-xl-letterSpacing: 0px;
        --ui-button-xss-fontSize: 10px;
        --ui-button-xss-lineHeight: 12px;
        --ui-button-xss-fontWeight: 500px;
    }
}
